:root {
    --gray-darker: #787878;
    --gray-darkest: #323233;
    --vivid-blue-darker: #006498;
  --vivid-blue-lightest: #daeef9;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.container {
    display: flex;
    flex-wrap: wrap;
  padding: 48px 50px;
}

.speaker {
    width: calc((100%-100px-60px) / 4);
    min-width: 280px;
    margin: 20px 0;
}

.speaker:not(:last-child) {
    margin-right: 20px;
}

.speaker__img {
    border-radius: 100px;
    width: 130px;
    height: 130px;
}

.speaker__title {
    margin: 0 0 4px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6;
    color: var(--gray-darkest);
}

.speaker__description {
    font-size: 14px;
    line-height: 1.43;
  margin-bottom:14px;
    color: var(--gray-darker);
}

.link {
    padding: 6px 66px;
    border-radius: 4px;
    background-color: #008cd6;
    text-decoration:none;
    color: var(--vivid-blue-lightest);
}

.link:hover {
    background-color: var(--vivid-blue-darker);
}
